{
  "extension": [
    ".js",
    ".ts"
  ],
  "include": [
    "lib/**/*"
  ],
  "exclude": [
    "**/*.d.ts",
    "lib/recorder/encoder/worker.ts"
  ],
  "reporter": [
    "html",
    "lcov",
    "text"
  ]
}
